/*
font-family: 'Acme', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;*/
.productText{
    font-size: 20px;
    font-family: Acme;
}

.bold{
    font-weight: bold;
}
.semi-bold{
    font-weight: 700;
    /* font-style: italic; */
}
.Query{
    float:right;
    margin:20px;
}